<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Page Layout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Game Site</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>     
                            <li>@Html.ActionLink("Post Ad", "Index", "AdData")</li>               
                            <li>@Html.ActionLink("Country", "Index", "Country")</li>
                            <li>@Html.ActionLink("City", "Index", "City")</li>
                            <li>@Html.ActionLink("Category", "Index", "Category")</li>
                            <li>@Html.ActionLink("Locality", "Index", "Locality")</li>
                            <li>@Html.ActionLink("Ad Type", "Index", "AdType")</li>
                            <li>@Html.ActionLink("Ad Type", "Index", "AdType")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input class="form-control" placeholder="Search" type="text">
                            </div>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                       
                    </div>
                </div>
            </nav>

            @RenderBody()

            <hr />
            <footer>
                <div class="row">
                    <div class="col-md-5">
                        <p>© Copyright no one at all. Go to town.</p>
                    </div>
                    <div class="col-md-7">
                        <ul class="nav nav-pills pull-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        <div class="col-md-2"></div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
