@model IEnumerable<GridLayout.Models.AdData>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/Shared/jquery.bootpag.min.js"></script>

<div id="popularCities" class="row">
    <br />
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Popular Cities
                </h3>
            </div>
            <div class="panel-body">
                <ul id="lstCity" class="nav nav-pills pull-left"></ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Post Free Ad</h2>
        <hr>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">Call to Action!</button>
    </div>
</div>

<div id="adCategories" class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Free Classfied Ad Categories in India
                </h3>
            </div>
            <div class="panel-body">
                <ul id="lstCategories" class="nav nav-pills pull-left"></ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*left columns for rendering the advertisements*@
    <div class="col-sm-6 col-md-4">
        <br />
        <div class="thumbnail">
            @*<img src="img/game-site-5.jpg" alt="...">*@
            <div class="Adv">
                <p>
                    AdON offers free classified ads over all major cities in India. Any user can post an ad at free of cost and search through the free classified on the AdON.
                </p>
                <h3>How to Search?</h3>
                <p>
                    User can search free classifies Ads by selecting the city and the Ad categories which either can be selected by using the dropdown options or by clicking on the major cities and categories lists from the main page displayed on first load.
                </p>
                <p>
                    Option for filtering the ads using the text search is also available on the page header where user can type the search text and then by pressing the search button all the filter results will be displayed on the page.
                </p>
                <br />

                <h3>How to post a free Classified Ad?</h3>
                <p>
                    Posting free classified is easy on the AdON. User can click on the “Post Free Ad” button from the top right navigation panel and the user will be redirected to the post Ad form on the AdON.
                </p>
                <p>
                    Users are advised to write detailed descriptions about the Ad for better response along with proper email address and the contact number to receive the prompt communication.
                </p>
                <br />

            </div>
        </div>
    </div>

    @*right columns for rendering the ads*@
    @*<div class="col-sm-6 col-md-8" style="border-left: solid 1px black">*@
    <div class="col-sm-6 col-md-8">
        <div class="panel" style="background-size:cover">
            <h4 id="freeAdFilders">All India - All Category</h4>
        </div>

        <div id="pageData">
            @*div to rendered the top three ad*@
            <div id="topData" class="row">
                @if (Model.Count() > 0)
                {
                    for (int item = 0; item < Model.Count(); item++)
                    {
                        var ad = (Model as System.Collections.Generic.List<GridLayout.Models.AdData>)[item];
                        if (item <= 2)
                        {
                            <div class="col-md-4">
                                <div class="thumbnail">
                                    <img src=@ad.Ad_Photo alt="...">
                                    <div class="panel-footer text-center">
                                        <h4>@ad.Ad_Title</h4>
                                        <p>@ad.Ad_Description</p>
                                        <span class="label label-warning">INR 50000</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <hr />
            <div id="adData">
                @if (Model.Count() > 0)
                {
                    for (int item = 0; item < Model.Count(); item++)
                    {
                        var ad = (Model as System.Collections.Generic.List<GridLayout.Models.AdData>)[item];
                        if (item > 2)
                        {
                            @*div to render the ad data*@
                            <div class="thumbnail">
                                <div class="media">
                                    <a href="#" class="pull-left"> <img src=@ad.Ad_Photo alt='' width="150" height="110" class="media-object" /></a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            @ad.Ad_Title
                                        </h4>
                                        <h5>posted on 00/kk00/2014 by Subhash</h5>
                                        @ad.Ad_Description
                                    </div>
                                </div>

                                <br />
                            </div>
                        }
                    }
                }
            </div>
            <br />

            <div id="content"></div>
            <div id="page-selection" class="row text-center"></div>
            <script>
                // init bootpag
                $('#page-selection').bootpag({
                    total: @ViewData["DisplayPage"],
                    page: @ViewData["CurrentPage"],
                    maxVisible: @ViewData["RecordPerPage"],
                    href: "#pro-page-{{number}}",
                    leaps: false,
                    next: 'Next',
                    prev: 'Precious'
                }).on("page", function (event, /* page number here */ num) {
                    fethData(num, recordPerPage);
                });
            </script>
        </div>
    </div>
</div>
