@model GridLayout.Models.Locality

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Locality</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocalityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
